body {
    margin: 0%;
    background-color: rgb(130, 200, 211);
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding: 3rem;
    margin: auto;
    background-color: #4abd4a;
    border-radius: 10px;
}

img {
    height: 12rem;
    width: 12rem;
    border-radius: 6px;
}

.btn1-group {
    display: flex;
    justify-content: space-between;
    width: 12rem;
    margin: auto;
}


.button {
    padding: 7px 15px;
    border-radius: 3px;
    cursor: pointer;
    width: 49%;
    margin-top: 1rem;
}

.button1 {
    background: #7de27d;
    border: 1px solid #4abd4a;
}

.button2 {
    background: #e3540d58;
    border: 1px solid #d49778e8;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.title {
    text-align: center;
    color: white;
}

.heading {
    text-align: center;
    background-color: blue;
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem;
}

.sub-heading {
    text-align: center;
    font-size: 2rem;
    padding: 3rem 1rem;
}

@media (max-width:768px) {

    .container {
        text-align: center;
        display: block;
        justify-content: unset;
        max-width: 1000px;
        padding: 1rem;
        margin: auto;
        background-color: #4abd4a;
    }

    .audio {
        margin-top: 1rem;
    }
}